.btnColor{
    height: 2cm;
    width: 2cm;
    border-radius: 10%; /* ריבוע עם פינות עגולות קלות */
}
.btnGuesses{
    height: 1cm;
    width: 1cm;
    border-radius: 10%;
}

.tdResults{
    height: 3cm;
    width: 3cm;
    border-radius: 10%;
    background-color: rgb(0, 128, 11);
    color: black;
    border: 2px black;
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
    margin-top: 130px;
    margin-left: 50%;
}
.tbl{
    margin-left: 97px;
    margin-top: 5px;
    margin-bottom: 10px;
    /* color: brown; */

}
#h1{
    text-align: center;

    color: rgb(229, 255, 0);
    font-size: 200px;
    animation-name: example;
    animation-duration: 4s;
}
@keyframes example {
    0%   {color: red;}
    25%  {color: yellow;}
    50%  {color: blue;}
    100% {color: green;}
}
#btnEnd{
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(217, 230, 233);
    font-size: 20px;
    vertical-align: middle;
}
#idColor{
    margin-left: 400px;
}

#idGuesses{
    margin-left: 200px;
    margin-top: 30px;
}
